In [1]:
import json as js
import pandas as pd
import re
import numpy as np
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, chi2

In [2]:
json_data = None
data = pd.read_csv('./Sentiment-Analysis-Dataset/Sentiment Analysis Dataset.csv', error_bad_lines=False)

ParserError: Error tokenizing data. C error: EOF inside string starting at line 1396318

In [5]:
stemmer = SnowballStemmer('english')
with open("stopwords.txt", "r") as f:
    words = list(f)
    
data

            2-faced  -1
0           2-faces  -1
1          abnormal  -1
2           abolish  -1
3        abominable  -1
4        abominably  -1
5         abominate  -1
6       abomination  -1
7             abort  -1
8           aborted  -1
9            aborts  -1
10           abrade  -1
11         abrasive  -1
12           abrupt  -1
13         abruptly  -1
14          abscond  -1
15          absence  -1
16    absent-minded  -1
17         absentee  -1
18           absurd  -1
19        absurdity  -1
20         absurdly  -1
21       absurdness  -1
22            abuse  -1
23           abused  -1
24           abuses  -1
25          abusive  -1
26          abysmal  -1
27        abysmally  -1
28            abyss  -1
29       accidental  -1
...             ...  ..
6759          witty   1
6760            won   1
6761         wonder   1
6762      wonderful   1
6763    wonderfully   1
6764      wonderous   1
6765    wonderously   1
6766        wonders   1
6767       wondrous   1
6768            woo   1
6769           work   1
6770       workable   1
6771         worked   1
6772          works   1
6773   world-famous   1
6774          worth   1
6775    worth-while   1
6776     worthiness   1
6777     worthwhile   1
6778         worthy   1
6779            wow   1
6780          wowed   1
6781         wowing   1
6782           wows   1
6783            yay   1
6784       youthful   1
6785           zeal   1
6786         zenith   1
6787           zest   1
6788          zippy   1

[6789 rows x 2 columns]